.InputSearch{
    width: 100%;
    font-size: 0.8em;
    padding: 0.4em 0.8em;
    border-radius: 4px;
    border-radius: 6px;
    /* border: 1px solid #cfcfcf; */
    border: none;
    color: #525252;
    transition: all 0.3s ease;
}

.InputSearch:focus{
    box-shadow: 0px 0px 8px #91c5dd;
}