.App{
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.colFilter{
  width: 20%;
  max-height: 276px;
  padding: 1em;
  background-color: #f1f1f1;
  border-radius: 6px;
  box-shadow: 0px 2px 4px #0f0f0f59;
}

.colResult{
  width: 80%;
  padding: 1em;
}

.colResult p{
  display: inline-block;
  padding: 0.6em;
  background-color: #f1f1f1;
  border-radius: 6px;
  box-shadow: 0px 2px 2px #0f0f0f28;
  margin: 0 1em 1em 0;
}

.filaInput{
  margin: 0 0 1em 0;
}